@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Professor @ViewData["Professor"]</p>
<address>
    <strong>More information: </strong> <a href="https://countdown-zeta-nine.vercel.app/">https://countdown-zeta-nine.vercel.app/</a>
</address>
